#easterEgg {
	top: -10%;
	bottom: 0;
	left: 0;
	right: 0;
	width: 50px;
	height: 50px;
	position: absolute;
	animation: cubeAnim 15s infinite alternate;
	animation-delay: 3s;
	z-index: -1;
	border-radius: 50%;
}

@keyframes cubeAnim {
	0% {left: -10%; background-color: #0000ff;}
	25% {left: 95%;}
	50% {top: 95%; background-color: #ff0000;}
	100% {right: 95%; background-color: #0000ff;}
}
