:root {
	background: #0E0E18;
	color: #FFF;
	font-size: 24px;
	font-family: Tahoma;

}

html,
body {
	margin: 0 auto;
	overflow-x: hidden;
	
}

.center {
	text-align: center;
}

	/* Nav-Bar */

.nav-bar {
	/* Display */
	display: flex;
	justify-content: flex-end;
	align-items: center;
	
	/* Position */
	position: fixed;
	height: 8vh;
	width: 100vw;
	
	color: #FFFFFF;
	text-shadow: #000 0.1rem 0.1rem;
	background: rgb(0, 0, 0, 0.2);
	
}

.side-bars::before,
.side-bars::after {
	content: "";
	position: absolute;
	right: 0;
	background: #000;
	width: 5vw;
	height: 300vh;
	z-index: -10;
	
}

.side-bars::after {
	left: 0;
}

.nav-bar-links {
	color: inherit;
	margin-right: 3vw;
	text-decoration: none;
	
}

.nav-bar-links:hover,
.nav-bar-links:focus {
	border-bottom: 0.1rem solid #0099ff;
	color: #0099ff;
	
}

#about,
#price {
	margin-bottom: 7vh;
}

	/* Landing Image and Text */
	
.front-page-image {
	/* Display */
	display: flex;
	justify-content: center;
	align-items: center;
	
	/* Position */
	margin: 0 auto;
	height: 80vh;
	width: 100vw;
	z-index: -5;
	
	/* Background */
	background: url(img/photo.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
}

.front-page-image-inner {
	color: inherit;
	text-align: center;
	text-shadow: #000 0.1rem 0.1rem 0.2rem;
}

	/* About Section */
	
.about-section {
	/* Dimensions */
	height: 50vh;
	width: 100vw;
	margin-top: 6vh;
	
	/* Display */
	display: flex;
	justify-content: space-between;
	
}

.about-section-2 {
	flex-direction: row-reverse;
	
}

.description-text,
.description-img,
.description-text-2,
.description-img-2 {
	/* Dimensions */
	height: 90%;
	width: 40%;
	
}

.description-text {
	margin-left: 8vw;
}

.description-text-2 {
	margin-right: 9vw;
}

.description-img {
	margin-right: 9vw;
	
	/* Image */
	background: red /** url(your link) **/;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
}

.description-img-2 {
	margin-left: 8vw;
	
	/* Image */
	background: red /** url(your link) **/;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
}
