:root,
html {
	margin: 0 auto;
	height: 100vh;
	width: 100vw;
	background: linear-gradient(45deg, #1858f9, #4400b3);
	font-size: 24px;
	font-family: Tahoma;
	color: #FFFFFF;
	overflow: hidden;
}

h1 {
	text-align: center;
	font-size: 8rem;
	margin: 0;
}

div{
	text-align: center;
	font-size: 2rem;
}

a,
a:active,
a:visited {
	color: #b5bdfd;
}

a:hover,
a:focus {
	border-radius: 1rem;
	border: #FFFFFF solid;
	padding: 0.3rem;
	background: linear-gradient(45deg, #1858f9, #4400b3);
	color: #b5bdfd;
	
}
