:root,
body,
html  {
	margin: 0;
	width: 102vw;
	height: 98vh;
	background: linear-gradient(to right, #1858f9, #4400b3);
	background-size: 400% 400%;
	color: #FFFFFF;
	font-size: 20px;
	font-family: Tahoma;
	animation: backgroundColorAnim 30s infinite linear;
	scroll-behavior: smooth;
	overflow-x: hidden;
}
	/* Nav-Bar styling */

.nav {
	display: grid;
	width: 100vw;
	position: fixed;
	background: black;
}

	/* The first text that 
	apperas on the page */

.landingText {
	margin-top: 30vh;
	margin-bottom: 110vh;
	text-shadow: 2px 4px 6px #000000;
}

.landingP{
	display: flex;
	justify-content: center;
	align-content: center;
}

.landingH1 {
	display: flex;
	justify-content: center;
	align-content: center;
}

	/* Link decoration */
a,
a:hover,
a:active,
a:visited {
	text-decoration: none;
	color: #FFFFFF;
}

	/* Background animation */

@keyframes backgroundColorAnim {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}
