:root,
body,
html  {
	margin: 0;
	width: 102vw;
	height: 100vh;
	background: linear-gradient(to right, #1858f9, #4400b3);
	background-size: 400% 400%;
	color: #FFFFFF;
	font-size: 20px;
	font-family: Tahoma;
	animation: backgroundColorAnim 30s infinite linear;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

	/* Link decoration */
a,
a:hover,
a:active,
a:visited {
	text-decoration: 2px underline #FFFFFF;
	color: #FFFFFF;
	
}

	/* Nav-Bar styling */

.nav {
	display: flex;
	justify-content: flex-end;
	width: 102vw;
	position: fixed;
	background: linear-gradient(to right, rgba(6, 51, 172, 0.4), rgba(62, 12, 189, 0.4));
	padding-top: 1.5vh;
	padding-bottom: 1.5vh;
	font-size: 0;
}

.aboutMe {
	border-right: 1px solid #FFFFFF;
	padding-right: 1vw;
	font-size: 1rem;
}

.contactMe {
	padding-left: 1vw;
	margin-right: 3vw;
	font-size: 1rem;
}

	/* The first text that 
	apperas on the page */

.landingText {
	margin-top: 30vh;
	margin-bottom: 80vh;
	text-shadow: 2px 4px 6px #000000;
}

.landingP{
	display: flex;
	justify-content: center;
	align-content: center;
}

.landingH1 {
	display: flex;
	justify-content: center;
	align-content: center;
}

	/* About me section */
	/* styling */
	
#aboutMe-section {
	text-align: center;
	margin-bottom: 10vh;
}

	/* Back To Top Button */

.backToTop {
	background: #FFFFFF;
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	opacity: 0.6;
	position: fixed;
	bottom: 20vh;
	right:3vw;
	transform: scale(1.6);
	transition: 0.25s;
}

.backToTop:hover {
	transform: scale(2);
}

	/* Background animation */

@keyframes backgroundColorAnim {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}
