:root,
body,
html  {
	margin: 0;
	width: 102vw;
	height: 100vh;
	background: linear-gradient(to right, #1858f9, #4400b3);
	background-size: 400% 400%;
	color: #FFFFFF;
	font-size: 20px;
	font-family: Tahoma;
	animation: backgroundColorAnim 30s infinite linear;
	scroll-behavior: smooth;
	overflow: hidden !important; /* !important is added to, potentially fix an issue on mobile devices where the page would scroll sideways */
}

	/* Link decoration */
.a-Links,
.a-Links:active,
.a-Links:visited {
	text-decoration: 2px underline #FFFFFF;
	color: #FFFFFF;
}

.a-Links:hover {
	opacity: 0.4;
}

	/* Nav-Bar styling */

.nav {
	display: flex;
	justify-content: flex-end;
	width: 102vw;
	position: fixed;
	background: linear-gradient(to right, rgba(6, 51, 172, 0.4), rgba(62, 12, 189, 0.4));
	padding-top: 1.5vh;
	padding-bottom: 1.5vh;
	font-size: 0;
}

.aboutMe {
	border-right: 1px solid #FFFFFF;
	padding-right: 1vw;
	font-size: 1rem;
}

.contactMe {
	padding-left: 1vw;
	margin-right: 3vw;
	font-size: 1rem;
}

	/* The first text that 
	apperas on the page */

.landingText {
	margin-top: 35vh;
	margin-bottom: 40vh;
	text-shadow: 2px 4px 6px #000000;
}

.landingP{
	display: flex;
	justify-content: center;
	align-content: center;
}

.landingH1 {
	display: flex;
	justify-content: center;
	align-content: center;
}

	/* About me section */
	/* styling */
	
.image {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
	
#aboutMe-section {
	display: inline-block;
	margin-bottom: 40vh;
}
	
.aboutMe-section-style {
	text-align: center;
	margin-bottom: 85vh;
}

	/* Contact me section */
	/* styling */
	
#contactMe-section {
	text-align: center;
	margin-bottom: 40vh;
}

	/* Back To Top Button */

.backToTop {
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.4;
	background: #FFFFFF;
	color: #000000;
	font-size: 0.8rem;
	font-weight: 600;
	text-decoration: none;
	width: 30px;
	height: 30px;
	position: fixed;
	bottom: 20vh;
	right:5vw;
	transition: 0.25s;
}

.backToTop:hover {
	transform: scale(1.6);
}

	/* Background animation */

@keyframes backgroundColorAnim {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}
