:root,
body,
html  {
	margin: 0;
	width: 100vw;
	height: auto;
	background: linear-gradient(45deg, #1858f9, #4400b3);
	background-size: 400% 400%;
	animation: backgroundColorAnim 30s infinite linear;
	color: #FFFFFF;
	font-size: 24px;
	font-family: JetBrainsMono-Medium;
	overflow-x: hidden;
}

	/* Background animation */

@keyframes backgroundColorAnim {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}

	/* Link decoration */
.a-Links,
.a-Links:active,
.a-Links:visited {
	text-decoration: underline 2.5px;
	color: #FFFFFF;
}

.a-Links:hover {
	opacity: 0.4;
}

	/* The first text that 
	apperas on the page */

.landingText {
	margin-top: 35vh;
	margin-bottom: 30vh;
	text-shadow: 2px 4px 6px #000000;
}

.landingP{
	display: flex;
	justify-content: center;
	align-content: center;
}

.landingH1 {
	display: flex;
	justify-content: center;
	align-content: center;
}

.scroll-indicator {
	width: 100vw;
	text-align: center;
	font-size: 0.8rem;
	margin-bottom: 30vh;
	animation:fade-out linear 2500ms infinite;
	opacity: 1;
}

@keyframes fade-out {
	0% {opacity: 1;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}

	/* About me section */
	/* styling */

.aboutMe-section-box {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 60vh;
}

.aboutMe-section-style {
	width: 60vw;
}

.aboutMe-section-style > p,
.aboutMe-section-style > h2 {
	text-align: center;
	margin: 0.2vh;
}


	/* Contact me section */
	/* styling */
	
.img-box {
	width: 100vw;
	display: flex;
	justify-content: center;
}
	
.img {
	background: url(/img/blackwew-logo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.contactMe-section {
	text-align: center;
	margin-bottom: 30vh;
}

	/* Newsletter Styling */
	
.btndown-form {
	background: rgba(100, 0, 200, 0.7);
	margin: 0 auto;
}

.btndown-form-label {
	width: 100%;
	display: inline-block;
	text-align: center;
}

.btndown-form-input {
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

.btndown-form-btn {
	width: auto;
	margin: 0 auto;
}

	/* Mobile Tweaks */
	
@media screen and (max-width: 740px) {

.aboutMe-section-style {
	width: 90vw;
}

}
