/**Desktop Version / Desktop Version / Desktop Version / Desktop Version**/
@media screen and (min-width: 800px) {
:root, body {
	--bg-color: #031634;
	--sec-color: #033649;
	--txt-color: #e8ddcb;
	width:100vw;
	height: 97vh;
	background-color: var(--bg-color);
	color: var(--txt-color);
	font-size: 20px;
	font-family: "Segoe UI";
	overflow-y: scroll;
	overflow-x: hidden;
}

a, a:visited, a:link, a:hover {
	text-decoration: none;
	color: inherit;
}

a:focus {
	color: #ceb581;
}

#backButton {
	font-size: 2rem;
	margin-top: 1vh;
	margin-left: 1vh;
	position: absolute;
	background-color: var(--sec-color);
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
}

#backButton:hover {
	box-shadow: 0 0 10px 10px var(--sec-color);
}

#active {
	margin: 0 0 2vh 0;
	font-size: 4rem;
	font-weight: 700;
	text-align: center;
}

.numeGrupa {
	display: block;
	font-size: 2rem;
	margin-left: 2vw;
	margin-bottom: 5vh;
}

.numeElement {
	font-size: 1.4rem;
	margin-left: 6vw;
	transform:translate(9999px);
	opacity: 0;
	height: 0;
}
.subGrupa {
	margin-left: 2vw;
}

.numeGrupa + .numeElement:active, .numeGrupa:focus + .numeElement {
	transition: opacity 1s linear;
	transform:translate(0);
	opacity: 1;
	height: auto;
}

#footerDevider {
	border-top: 1px solid #033649;
	width: 99vw;
	position: absolute;
}

#pageFooter {
	width: 98vw;
	height: 13vh;
	position: absolute;
	top: 85vh;
	background-color: var(--bg-color);
	padding-bottom: 1vh;
}

#pageFooter-content {
	position: absolute;
	left: 0;
	right: 0;
}

#footerLink {
	float: left;
	margin-left: 15px;
}

#MadeWith {
	float: left;
	text-align: center;
	font-family: "Segoe UI";
	margin-top: 0;
	margin-bottom: 0;
	width: 100vw;
}

/** Heart Animation  Heart Animation  Heart Animation **/
#heart {
	font-size: inherit;
	display: inline-block;
	color: #ff0000;
	animation: beat .65s infinite alternate;
	transform-origin: center;
}

@keyframes beat {
	to {transform: scale(1.65);}
}
/** Heart Animation  Heart Animation  Heart Animation **/

}
/**Mobile Version / Mobile Version / Mobile Version / Mobile Version**/
@media screen and (max-width: 800px) {
:root, body {
	--bg-color: #031634;
	--txt-color: #e8ddcb;
	width:100%;
	height: 97vh;
	background-color: var(--bg-color);
	color: var(--txt-color);
	overflow-y: scroll;
	overflow-x: hidden;
}

a, a:visited, a:link, a:hover {
	text-decoration: none;
	color: inherit;
}

a:focus {
	color: #ceb581;
}

#backButton {
	display: none;
}

#active {
	margin: 0 0 0 0;
	font-size: 4rem;
	font-weight: 700;
	text-align: center;
}

.numeGrupa {
	display: block;
	font-size: 2rem;
	margin-left: 2vw;
	margin-bottom: 5vw;
}

.numeElement {
	font-size: 1.4rem;
	margin-left: 6vw;
	margin-bottom: 5vw;
	transform:translate(9999px);
	opacity: 0;
	height: 0;
}
.numeGrupa + .numeElement:active, .numeGrupa:focus + .numeElement {
	transition: opacity 1s linear;
	transform:translate(0);
	opacity: 1;
	height: auto;
}

#footerDevider {
	border-top: 1px solid #033649;
	width: 99vw;
	position: absolute;
}

#pageFooter {
	width: 98vw;
	height: 13vh;
	position: absolute;
	top: 85vh;
	background-color: var(--bg-color);
	padding-bottom: 1vh;
}

#pageFooter-content {
	position: absolute;
	left: 0;
	right: 0;
}

#footerLink {
	float: left;
	margin-left: 15px;
}

#MadeWith {
	float: left;
	text-align: center;
	font-family: "Segoe UI";
	margin-top: 0;
	margin-bottom: 0;
	width: 100vw;
}

/** Heart Animation  Heart Animation  Heart Animation **/
#heart {
	font-size: inherit;
	display: inline-block;
	color: #ff0000;
	animation: beat .65s infinite alternate;
	transform-origin: center;
}

@keyframes beat {
	to {transform: scale(1.65);}
}
/** Heart Animation  Heart Animation  Heart Animation **/

}

}